In [1]:
import sqlalchemy as db
from sqlalchemy import create_engine
engine = create_engine('sqlite:///:memory:', echo=False)
conn = engine.connect()

In [2]:
metadata = db.MetaData() #extracting the metadata

In [3]:
Customer_Info = db.Table('Customer_Info', metadata,
              db.Column('Customer_ID', db.String, primary_key=True),
              db.Column('Name', db.String),
              db.Column('Age', db.Integer),
              db.Column('Occupation', db.String)
              )

Credit_Change = db.Table('Credit_Change', metadata,
              db.Column('ID', db.String, primary_key=True),
              db.Column('Customer_ID', db.String),
              db.Column('Month', db.Integer),
              db.Column('Annual_Income', db.Float),
              db.Column('Monthly_Inhand_Salary', db.Float),
              db.Column('Num_Bank_Accounts', db.Integer),
              db.Column('Num_Credit_Card', db.Integer),
              db.Column('Interest_Rate', db.Integer),
              db.Column('Num_of_Loan', db.Float),
              db.Column('Type_of_Loan', db.String),
              db.Column('Delay_from_due_date', db.Integer),          
              db.Column('Num_of_Delayed_Payment', db.Float),
              db.Column('Num_Credit_Inquiries', db.Float), 
              db.Column('Outstanding_Debt', db.Float),
              db.Column('Credit_Utilization_Ratio', db.Float),
              db.Column('Credit_History_Age', db.Float),
              db.Column('Payment_of_Min_Amount', db.String),
              db.Column('Total_EMI_per_month', db.Float),
              db.Column('Amount_invested_monthly', db.Float),
              db.Column('Payment_Behaviour', db.String),
              db.Column('Monthly_Balance', db.Float), 
              db.Column('Credit_Score', db.String)   
                        )
metadata.create_all(engine)

In [4]:
import pandas as pd
df = pd.read_csv('customer_info.csv')
df.to_sql(con=engine, name="Customer_Info", if_exists='replace', index=False)
df_credit = pd.read_csv('credit_change.csv')
df_credit.to_sql(con=engine, name="Credit_Change", if_exists='replace', index=False)

In [5]:
conn = engine.connect()
metadata = db.MetaData()
Customer_Info = db.Table('Customer_Info', metadata, autoload=True, autoload_with=engine)
Credit_Change = db.Table('Credit_Change', metadata, autoload=True, autoload_with=engine)

In [6]:
query = Customer_Info.select()
exe = conn.execute(query)
result = exe.fetchmany(5)
for r in result:
    print(r)

('CUS_0xd40', 'Aaron Maashoh', 23.0, 'Scientist')
('CUS_0xb891', 'Jasond', 55.0, 'Entrepreneur')
('CUS_0x1cdb', 'Deepaa', 21.0, 'Developer')
('CUS_0x95ee', 'Np', 31.0, 'Lawyer')
('CUS_0x284a', 'Nadiaq', 33.0, 'Lawyer')

In [7]:
query = Credit_Change.select()
exe = conn.execute(query)
result = exe.fetchmany(5)
for r in result:
    print(r)

('0x1602', 'CUS_0xd40', 1, 19114.12, 1824.8433333333328, 3, 4, 3, 4.0, 'Auto Loan, Credit-Builder Loan, Personal Loan, and Home Equity Loan', 3, 7.0, 4.0, 809.98, 26.822619623699016, 22.1, 'No', 49.57494921489417, 80.41529543900253, 'High_spent_Small_value_payments', 312.49408867943663, 'Good')
('0x1608', 'CUS_0xd40', 7, 19114.12, 1824.8433333333328, 3, 4, 3, 4.0, 'Auto Loan, Credit-Builder Loan, Personal Loan, and Home Equity Loan', 3, 8.0, 4.0, 809.98, 22.53759303178384, 22.7, 'No', 49.57494921489417, 178.3440674122349, 'Low_spent_Small_value_payments', 244.5653167062043, 'Good')
('0x1626', 'CUS_0xb891', 1, 30689.89, 2612.4908333333333, 2, 5, 4, 1.0, 'Not Specified', 0, 6.0, 4.0, 632.46, 26.54422872407309, 17.3, 'No', 16.415451659824875, 81.22885871073616, 'Low_spent_Large_value_payments', 433.6047729627723, 'Standard')
('0x1627', 'CUS_0xb891', 2, 30689.89, 2612.4908333333333, 2, 5, 4, 1.0, 'Not Specified', 5, 3.0, 4.0, 632.46, 35.279981779008544, 17.4, 'No', 16.415451659824875, 124.88181990234848, 'Low_spent_Small_value_payments', 409.95181177116, 'Standard')
('0x1628', 'CUS_0xb891', 3, 30689.89, 2612.4908333333333, 2, 5, 4, 1.0, 'Not Specified', 3, 9.0, 4.0, 632.46, 32.30116343180253, 17.5, 'NM', 16.415451659824875, 83.40650880252501, 'High_spent_Medium_value_payments', 411.42712287098345, 'Standard')

In [8]:
query_new = (
    db.select([
Credit_Change.c.ID,
Credit_Change.c.Customer_ID,
Credit_Change.c.Month,
Credit_Change.c.Annual_Income,
Credit_Change.c.Monthly_Inhand_Salary,
Credit_Change.c.Num_Bank_Accounts,
Credit_Change.c.Num_Credit_Card,
Credit_Change.c.Interest_Rate,
Credit_Change.c.Num_of_Loan,
Credit_Change.c.Type_of_Loan,
Credit_Change.c.Delay_from_due_date,
Credit_Change.c.Num_of_Delayed_Payment,
Credit_Change.c.Num_Credit_Inquiries,
Credit_Change.c.Outstanding_Debt,
Credit_Change.c.Credit_Utilization_Ratio,
Credit_Change.c.Credit_History_Age,
Credit_Change.c.Payment_of_Min_Amount,
Credit_Change.c.Total_EMI_per_month,
Credit_Change.c.Amount_invested_monthly,
Credit_Change.c.Payment_Behaviour,
Credit_Change.c.Monthly_Balance,
Credit_Change.c.Credit_Score,
Customer_Info.c.Name,
Customer_Info.c.Age,
Customer_Info.c.Occupation
]).
    select_from(Credit_Change.join(Customer_Info, Customer_Info.c.Customer_ID == Credit_Change.c.Customer_ID))
)

In [9]:
Credit_Score_New = pd.read_sql_query(
    query_new,
    con = engine
)

Credit_Score_New

,ID,Customer_ID,Month,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Type_of_Loan,...,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score,Name,Age,Occupation
0,0x1602,CUS_0xd40,1,19114.12,1824.843333,3,4,3,4.0,"Auto Loan, Credit-Builder Loan, Personal Loan,...",...,22.1,No,49.574949,80.415295,High_spent_Small_value_payments,312.494089,Good,Aaron Maashoh,23.0,Scientist
1,0x1608,CUS_0xd40,7,19114.12,1824.843333,3,4,3,4.0,"Auto Loan, Credit-Builder Loan, Personal Loan,...",...,22.7,No,49.574949,178.344067,Low_spent_Small_value_payments,244.565317,Good,Aaron Maashoh,23.0,Scientist
2,0x1626,CUS_0xb891,1,30689.89,2612.490833,2,5,4,1.0,Not Specified,...,17.3,No,16.415452,81.228859,Low_spent_Large_value_payments,433.604773,Standard,Jasond,55.0,Entrepreneur
3,0x1627,CUS_0xb891,2,30689.89,2612.490833,2,5,4,1.0,Not Specified,...,17.4,No,16.415452,124.881820,Low_spent_Small_value_payments,409.951812,Standard,Jasond,55.0,Entrepreneur
4,0x1628,CUS_0xb891,3,30689.89,2612.490833,2,5,4,1.0,Not Specified,...,17.5,NM,16.415452,83.406509,High_spent_Medium_value_payments,411.427123,Standard,Jasond,55.0,Entrepreneur
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48548,0x25fe1,CUS_0x8600,8,20002.88,1929.906667,10,8,29,5.0,"Personal Loan, Auto Loan, Mortgage Loan, Stude...",...,6.3,Yes,60.964772,34.662906,High_spent_Large_value_payments,337.362988,Standard,Sarah McBridec,29.0,Architect
48549,0x25fe8,CUS_0x942c,3,39628.99,3359.415833,4,6,7,2.0,"Auto Loan, and Student Loan",...,31.5,No,35.104023,140.581403,High_spent_Medium_value_payments,410.256158,Poor,Nicks,25.0,Mechanic
48550,0x25fe9,CUS_0x942c,4,39628.99,3359.415833,4,6,7,2.0,"Auto Loan, and Student Loan",...,31.6,No,35.104023,60.971333,High_spent_Large_value_payments,479.866228,Poor,Nicks,25.0,Mechanic
48551,0x25fea,CUS_0x942c,5,39628.99,3359.415833,4,6,7,2.0,"Auto Loan, and Student Loan",...,31.7,No,35.104023,54.185950,High_spent_Medium_value_payments,496.651610,Poor,Nicks,25.0,Mechanic
48552,0x25feb,CUS_0x942c,6,39628.99,3359.415833,4,6,5729,2.0,"Auto Loan, and Student Loan",...,31.8,No,35.104023,24.028477,High_spent_Large_value_payments,516.809083,Poor,Nicks,25.0,Mechanic

In [10]:
Credit_Score_New.to_csv("Credit_Score_New.csv")