In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
credit_score_df = pd.read_csv("credit_score_new.csv")
credit_score_df.head()

,Unnamed: 0,ID,Customer_ID,Month,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,...,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score,Name,Age,Occupation
0,0,0x1602,CUS_0xd40,1,19114.12,1824.843333,3,4,3,4.0,...,22.1,No,49.574949,80.415295,High_spent_Small_value_payments,312.494089,Good,Aaron Maashoh,23.0,Scientist
1,1,0x1608,CUS_0xd40,7,19114.12,1824.843333,3,4,3,4.0,...,22.7,No,49.574949,178.344067,Low_spent_Small_value_payments,244.565317,Good,Aaron Maashoh,23.0,Scientist
2,2,0x1626,CUS_0xb891,1,30689.89,2612.490833,2,5,4,1.0,...,17.3,No,16.415452,81.228859,Low_spent_Large_value_payments,433.604773,Standard,Jasond,55.0,Entrepreneur
3,3,0x1627,CUS_0xb891,2,30689.89,2612.490833,2,5,4,1.0,...,17.4,No,16.415452,124.881820,Low_spent_Small_value_payments,409.951812,Standard,Jasond,55.0,Entrepreneur
4,4,0x1628,CUS_0xb891,3,30689.89,2612.490833,2,5,4,1.0,...,17.5,NM,16.415452,83.406509,High_spent_Medium_value_payments,411.427123,Standard,Jasond,55.0,Entrepreneur

In [2]:
credit_score_df = credit_score_df.drop(['Type_of_Loan','Unnamed: 0','Annual_Income','Customer_ID','ID','Name','Occupation','Amount_invested_monthly'],axis = 1)
credit_score_df.head()

,Month,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Delay_from_due_date,Num_of_Delayed_Payment,Num_Credit_Inquiries,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Payment_Behaviour,Monthly_Balance,Credit_Score,Age
0,1,1824.843333,3,4,3,4.0,3,7.0,4.0,809.98,26.822620,22.1,No,49.574949,High_spent_Small_value_payments,312.494089,Good,23.0
1,7,1824.843333,3,4,3,4.0,3,8.0,4.0,809.98,22.537593,22.7,No,49.574949,Low_spent_Small_value_payments,244.565317,Good,23.0
2,1,2612.490833,2,5,4,1.0,0,6.0,4.0,632.46,26.544229,17.3,No,16.415452,Low_spent_Large_value_payments,433.604773,Standard,55.0
3,2,2612.490833,2,5,4,1.0,5,3.0,4.0,632.46,35.279982,17.4,No,16.415452,Low_spent_Small_value_payments,409.951812,Standard,55.0
4,3,2612.490833,2,5,4,1.0,3,9.0,4.0,632.46,32.301163,17.5,NM,16.415452,High_spent_Medium_value_payments,411.427123,Standard,55.0

In [3]:
credit_score_df['Credit_Score'] = credit_score_df['Credit_Score'].str.replace('Good', '2', n=-1)
credit_score_df['Credit_Score'] = credit_score_df['Credit_Score'].str.replace('Standard', '1', n=-1)
credit_score_df['Credit_Score'] = credit_score_df['Credit_Score'].str.replace('Poor', '0', n=-1)
credit_score_df['Credit_Score'] = credit_score_df[['Credit_Score']].apply(pd.to_numeric)
credit_score_df.head()

,Month,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Delay_from_due_date,Num_of_Delayed_Payment,Num_Credit_Inquiries,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Payment_Behaviour,Monthly_Balance,Credit_Score,Age
0,1,1824.843333,3,4,3,4.0,3,7.0,4.0,809.98,26.822620,22.1,No,49.574949,High_spent_Small_value_payments,312.494089,2,23.0
1,7,1824.843333,3,4,3,4.0,3,8.0,4.0,809.98,22.537593,22.7,No,49.574949,Low_spent_Small_value_payments,244.565317,2,23.0
2,1,2612.490833,2,5,4,1.0,0,6.0,4.0,632.46,26.544229,17.3,No,16.415452,Low_spent_Large_value_payments,433.604773,1,55.0
3,2,2612.490833,2,5,4,1.0,5,3.0,4.0,632.46,35.279982,17.4,No,16.415452,Low_spent_Small_value_payments,409.951812,1,55.0
4,3,2612.490833,2,5,4,1.0,3,9.0,4.0,632.46,32.301163,17.5,NM,16.415452,High_spent_Medium_value_payments,411.427123,1,55.0

In [4]:
credit_score_df.dtypes

Month                         int64
Monthly_Inhand_Salary       float64
Num_Bank_Accounts             int64
Num_Credit_Card               int64
Interest_Rate                 int64
Num_of_Loan                 float64
Delay_from_due_date           int64
Num_of_Delayed_Payment      float64
Num_Credit_Inquiries        float64
Outstanding_Debt            float64
Credit_Utilization_Ratio    float64
Credit_History_Age          float64
Payment_of_Min_Amount        object
Total_EMI_per_month         float64
Payment_Behaviour            object
Monthly_Balance             float64
Credit_Score                  int64
Age                         float64
dtype: object

In [5]:
credit_score_df.nunique()

Month                           8
Monthly_Inhand_Salary       10344
Num_Bank_Accounts             531
Num_Credit_Card               814
Interest_Rate                 957
Num_of_Loan                   225
Delay_from_due_date            73
Num_of_Delayed_Payment        401
Num_Credit_Inquiries          697
Outstanding_Debt             9633
Credit_Utilization_Ratio    48553
Credit_History_Age            371
Payment_of_Min_Amount           3
Total_EMI_per_month         10734
Payment_Behaviour               6
Monthly_Balance             48549
Credit_Score                    3
Age                            22
dtype: int64

In [6]:
# Generate our categorical variable lists
credit_cat = credit_score_df.dtypes[credit_score_df.dtypes == "object"].index.tolist()

In [7]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(credit_score_df[credit_cat]))

# Add the encoded variable names to the dataframe
encode_df.columns = enc.get_feature_names(credit_cat)
encode_df.head()

/Users/liuyidi/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,Payment_of_Min_Amount_NM,Payment_of_Min_Amount_No,Payment_of_Min_Amount_Yes,Payment_Behaviour_High_spent_Large_value_payments,Payment_Behaviour_High_spent_Medium_value_payments,Payment_Behaviour_High_spent_Small_value_payments,Payment_Behaviour_Low_spent_Large_value_payments,Payment_Behaviour_Low_spent_Medium_value_payments,Payment_Behaviour_Low_spent_Small_value_payments
0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [8]:
# Merge one-hot encoded features and drop the originals
credit_score_df = credit_score_df.merge(encode_df,left_index=True, right_index=True)
credit_score_df = credit_score_df.drop(credit_cat,1)
credit_score_df.head()

/Users/liuyidi/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/ipykernel_launcher.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  This is separate from the ipykernel package so we can avoid doing imports until

,Month,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Delay_from_due_date,Num_of_Delayed_Payment,Num_Credit_Inquiries,Outstanding_Debt,...,Age,Payment_of_Min_Amount_NM,Payment_of_Min_Amount_No,Payment_of_Min_Amount_Yes,Payment_Behaviour_High_spent_Large_value_payments,Payment_Behaviour_High_spent_Medium_value_payments,Payment_Behaviour_High_spent_Small_value_payments,Payment_Behaviour_Low_spent_Large_value_payments,Payment_Behaviour_Low_spent_Medium_value_payments,Payment_Behaviour_Low_spent_Small_value_payments
0,1,1824.843333,3,4,3,4.0,3,7.0,4.0,809.98,...,23.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,7,1824.843333,3,4,3,4.0,3,8.0,4.0,809.98,...,23.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,1,2612.490833,2,5,4,1.0,0,6.0,4.0,632.46,...,55.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,2,2612.490833,2,5,4,1.0,5,3.0,4.0,632.46,...,55.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,3,2612.490833,2,5,4,1.0,3,9.0,4.0,632.46,...,55.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [9]:
# Split our preprocessed data into our features and target arrays
y = credit_score_df["Credit_Score"].values
X = credit_score_df.drop(["Credit_Score"],1).values


# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

/Users/liuyidi/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/ipykernel_launcher.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  This is separate from the ipykernel package so we can avoid doing imports until

In [10]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [11]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
hidden_nodes_layer1 = 100
hidden_nodes_layer2 = 80
hidden_nodes_layer3 = 60


nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="sigmoid")
)


# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="sigmoid"))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="sigmoid"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 100)               2500
_________________________________________________________________
dense_1 (Dense)              (None, 80)                8080
_________________________________________________________________
dense_2 (Dense)              (None, 60)                4860
_________________________________________________________________
dense_3 (Dense)              (None, 1)                 61
=================================================================
Total params: 15,501
Trainable params: 15,501
Non-trainable params: 0
_________________________________________________________________

2023-03-14 19:34:37.726525: I tensorflow/core/platform/cpu_feature_guard.cc:145] This TensorFlow binary is optimized with Intel(R) MKL-DNN to use the following CPU instructions in performance critical operations:  SSE4.1 SSE4.2
To enable them in non-MKL-DNN operations, rebuild TensorFlow with the appropriate compiler flags.
2023-03-14 19:34:37.727285: I tensorflow/core/common_runtime/process_util.cc:115] Creating new thread pool with default inter op setting: 8. Tune using inter_op_parallelism_threads for best performance.

In [12]:
# Compile the model

# Import checkpoint dependencies
import os
from tensorflow.keras.callbacks import ModelCheckpoint

# Define the checkpoint path and filenames
os.makedirs("checkpoints/",exist_ok=True)
checkpoint_path = "checkpoints/weights.{epoch:02d}.hdf5"

# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [13]:
# Create a callback that saves the model's weights every epoch
cp_callback = ModelCheckpoint(
    filepath=checkpoint_path,
    verbose=1,
    save_weights_only=True,
    period = 5)

WARNING:tensorflow:`period` argument is deprecated. Please use `save_freq` to specify the frequency in number of samples seen.

In [14]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=50,callbacks=[cp_callback])

Train on 36414 samples
Epoch 1/50
36414/36414 [==============================] - 5s 129us/sample - loss: -1.4861 - accuracy: 0.5773
Epoch 2/50
36414/36414 [==============================] - 4s 113us/sample - loss: -4.8193 - accuracy: 0.5961
Epoch 3/50
36414/36414 [==============================] - 4s 110us/sample - loss: -7.9936 - accuracy: 0.5969
Epoch 4/50
36414/36414 [==============================] - 4s 111us/sample - loss: -11.1487 - accuracy: 0.5975
Epoch 5/50
36000/36414 [============================>.] - ETA: 0s - loss: -14.2866 - accuracy: 0.5973
Epoch 00005: saving model to checkpoints/weights.05.hdf5
36414/36414 [==============================] - 4s 111us/sample - loss: -14.2936 - accuracy: 0.5973
Epoch 6/50
36414/36414 [==============================] - 4s 115us/sample - loss: -17.4275 - accuracy: 0.5988
Epoch 7/50
36414/36414 [==============================] - 4s 116us/sample - loss: -20.6311 - accuracy: 0.6005
Epoch 8/50
36414/36414 [==============================] - 4s 119us/sample - loss: -23.8283 - accuracy: 0.6021
Epoch 9/50
36414/36414 [==============================] - 4s 111us/sample - loss: -26.8158 - accuracy: 0.6055
Epoch 10/50
36064/36414 [============================>.] - ETA: 0s - loss: -30.2389 - accuracy: 0.6079
Epoch 00010: saving model to checkpoints/weights.10.hdf5
36414/36414 [==============================] - 5s 133us/sample - loss: -30.1133 - accuracy: 0.6084
Epoch 11/50
36414/36414 [==============================] - 4s 116us/sample - loss: -33.2606 - accuracy: 0.6099
Epoch 12/50
36414/36414 [==============================] - 4s 113us/sample - loss: -36.4494 - accuracy: 0.6122
Epoch 13/50
36414/36414 [==============================] - 4s 114us/sample - loss: -39.6308 - accuracy: 0.6133
Epoch 14/50
36414/36414 [==============================] - 4s 114us/sample - loss: -42.7455 - accuracy: 0.6136
Epoch 15/50
36160/36414 [============================>.] - ETA: 0s - loss: -45.9479 - accuracy: 0.6133
Epoch 00015: saving model to checkpoints/weights.15.hdf5
36414/36414 [==============================] - 4s 113us/sample - loss: -45.9312 - accuracy: 0.6132
Epoch 16/50
36414/36414 [==============================] - 4s 110us/sample - loss: -49.0640 - accuracy: 0.6147
Epoch 17/50
36414/36414 [==============================] - 4s 115us/sample - loss: -52.2707 - accuracy: 0.6118
Epoch 18/50
36414/36414 [==============================] - 4s 114us/sample - loss: -55.4985 - accuracy: 0.6148
Epoch 19/50
36414/36414 [==============================] - 4s 110us/sample - loss: -58.6985 - accuracy: 0.6135
Epoch 20/50
36064/36414 [============================>.] - ETA: 0s - loss: -61.7468 - accuracy: 0.6158
Epoch 00020: saving model to checkpoints/weights.20.hdf5
36414/36414 [==============================] - 4s 110us/sample - loss: -61.8225 - accuracy: 0.6157
Epoch 21/50
36414/36414 [==============================] - 4s 115us/sample - loss: -64.9802 - accuracy: 0.6144
Epoch 22/50
36414/36414 [==============================] - 4s 114us/sample - loss: -68.0853 - accuracy: 0.6148
Epoch 23/50
36414/36414 [==============================] - 4s 113us/sample - loss: -71.4018 - accuracy: 0.6145
Epoch 24/50
36414/36414 [==============================] - 5s 137us/sample - loss: -74.4638 - accuracy: 0.6142
Epoch 25/50
36128/36414 [============================>.] - ETA: 0s - loss: -77.7049 - accuracy: 0.6146
Epoch 00025: saving model to checkpoints/weights.25.hdf5
36414/36414 [==============================] - 4s 117us/sample - loss: -77.6938 - accuracy: 0.6144
Epoch 26/50
36414/36414 [==============================] - 4s 113us/sample - loss: -80.9087 - accuracy: 0.6142
Epoch 27/50
36414/36414 [==============================] - 5s 132us/sample - loss: -84.2333 - accuracy: 0.6125
Epoch 28/50
36414/36414 [==============================] - 4s 123us/sample - loss: -87.3764 - accuracy: 0.6136
Epoch 29/50
36414/36414 [==============================] - 28s 767us/sample - loss: -90.3100 - accuracy: 0.6136
Epoch 30/50
36288/36414 [============================>.] - ETA: 0s - loss: -93.8818 - accuracy: 0.6141
Epoch 00030: saving model to checkpoints/weights.30.hdf5
36414/36414 [==============================] - 5s 139us/sample - loss: -93.7357 - accuracy: 0.6141
Epoch 31/50
36414/36414 [==============================] - 5s 133us/sample - loss: -96.9929 - accuracy: 0.6134
Epoch 32/50
36414/36414 [==============================] - 5s 142us/sample - loss: -99.7529 - accuracy: 0.6128
Epoch 33/50
36414/36414 [==============================] - 5s 132us/sample - loss: -103.1452 - accuracy: 0.6144
Epoch 34/50
36414/36414 [==============================] - 5s 132us/sample - loss: -106.6667 - accuracy: 0.6131
Epoch 35/50
36352/36414 [============================>.] - ETA: 0s - loss: -109.8659 - accuracy: 0.6131
Epoch 00035: saving model to checkpoints/weights.35.hdf5
36414/36414 [==============================] - 5s 130us/sample - loss: -109.8575 - accuracy: 0.6131
Epoch 36/50
36414/36414 [==============================] - 5s 138us/sample - loss: -112.8970 - accuracy: 0.6111
Epoch 37/50
36414/36414 [==============================] - 7s 179us/sample - loss: -115.8585 - accuracy: 0.6133
Epoch 38/50
36414/36414 [==============================] - 5s 131us/sample - loss: -119.3828 - accuracy: 0.6115
Epoch 39/50
36414/36414 [==============================] - 5s 132us/sample - loss: -122.3800 - accuracy: 0.6114
Epoch 40/50
36096/36414 [============================>.] - ETA: 0s - loss: -125.4549 - accuracy: 0.6115
Epoch 00040: saving model to checkpoints/weights.40.hdf5
36414/36414 [==============================] - 5s 131us/sample - loss: -125.7053 - accuracy: 0.6119
Epoch 41/50
36414/36414 [==============================] - 7s 186us/sample - loss: -128.9470 - accuracy: 0.6116
Epoch 42/50
36414/36414 [==============================] - 6s 175us/sample - loss: -132.1034 - accuracy: 0.6104
Epoch 43/50
36414/36414 [==============================] - 6s 162us/sample - loss: -135.6149 - accuracy: 0.6101
Epoch 44/50
36414/36414 [==============================] - 6s 160us/sample - loss: -138.8396 - accuracy: 0.6101
Epoch 45/50
36352/36414 [============================>.] - ETA: 0s - loss: -142.0945 - accuracy: 0.6119
Epoch 00045: saving model to checkpoints/weights.45.hdf5
36414/36414 [==============================] - 7s 190us/sample - loss: -142.0821 - accuracy: 0.6118
Epoch 46/50
36414/36414 [==============================] - 8s 221us/sample - loss: -145.4438 - accuracy: 0.6120
Epoch 47/50
36414/36414 [==============================] - 7s 189us/sample - loss: -148.6456 - accuracy: 0.6100
Epoch 48/50
36414/36414 [==============================] - 7s 202us/sample - loss: -151.6558 - accuracy: 0.6109
Epoch 49/50
36414/36414 [==============================] - 8s 229us/sample - loss: -155.1230 - accuracy: 0.6116
Epoch 50/50
36320/36414 [============================>.] - ETA: 0s - loss: -158.3434 - accuracy: 0.6090
Epoch 00050: saving model to checkpoints/weights.50.hdf5
36414/36414 [==============================] - 18s 507us/sample - loss: -158.2321 - accuracy: 0.6090

In [15]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

12139/1 - 1s - loss: -1.5519e+02 - accuracy: 0.6093
Loss: -169.74806474889067, Accuracy: 0.6092758774757385

In [16]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity.h5")